@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.7');
    box-shadow: theme('boxShadow.xl');
  }
}

@font-face {
  font-family: "Franklin Gothic";
  src: local("Franklin Gothic"),
    url("./fonts/franklin.TTF") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Baskerville Old Face Regular";
  src: local("Baskerville Old Face Regular"),
    url("./fonts/Baskerville.TTF") format("truetype");
  font-weight: normal;
}

main {
  font-family: 'Baloo 2';
}

.bg {
  background: url('./assets/brgyidgreen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home {
  background: url('./assets/brgyidgreen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-family: 'Franklin Gothic';
  text-transform: uppercase;
  font-style: italic;
}

.title1 {
  font-family: 'Franklin Gothic';
  text-transform: capitalize;
  font-style: italic;
}

.text-hdr {
  font-family: 'Baskerville Old Face Regular';
  letter-spacing: 1;
  line-height: 12px;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
  color: white;
}

.text-hdr-black {
  font-family: 'Baskerville Old Face Regular';
  letter-spacing: 1;
  line-height: 12px;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
  color: black;
}

.id-title {
  font-family: 'Franklin Gothic';
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
  color: green;
  font-size: 22px;
  padding: 0;
  margin-top: -10px;
}

.label-id {
  font-size: 10px;
  font-weight: 800;
  font-style: italic;
}

.label-id-data {
  font-family: Arial, Helvetica, serif;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  background: none;
  outline: none;
}

.logo {
  width: 60px;
  height: 40px;
}

.logo1 {
  width: 60px;
  height: 60px;
}

.logo2 {
  width: 90%;
  height: 100px;
}

.id-pic {
  padding: 0;
  width: 120px;
  height: 120px;
}

.id-pic-user {
  border-radius: 5px;
  width: 120px;
  height: 120px;
}

.sign-user {
  margin-top: -2px;
  width: 45px;
  height: 23px;
}

.id-card {
  background: url('./assets/brgyidgreen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 307px;
  width: 496px;
}

.id-card-yellow {
  background: url('./assets/brgyidyellow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 307px;
  width: 496px;
}

.id-card-white {
  background: url('./assets/brgyidwhite.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 307px;
  width: 496px;
}

.id-card-back {
  background: url('./assets/idgreenback.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 307px;
  width: 496px;
}

.id-card-back-yellow {
  background: url('./assets/idyellowback.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 307px;
  width: 496px;
}

.id-card-back-white {
  background: url('./assets/idwhiteback.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 307px;
  width: 496px;
}

.blgu-logo {
  width: 85px;
  height: 65px;
}

.table-photo {
  width: 150px;
  height: 70px;
}

.sigCanvas {
  width: 100%;
  height: 200px;
}