@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.7');
    box-shadow: theme('boxShadow.xl');
  }
}

@font-face {
  font-family: "Franklin Gothic";
  src: local("Franklin Gothic"),
    url("./fonts/franklin.TTF") format("truetype");
  font-weight: bold;
}

.bg {
  background: url('./assets/brgyidgreen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home {
  background: url('./assets/brgyidgreen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-family: 'Franklin Gothic';
  text-transform: uppercase;
  font-style: italic;
}

.title1 {
  font-family: 'Franklin Gothic';
  text-transform: capitalize;
  font-style: italic;
}

.text-hdr {
  letter-spacing: 0.2;
  line-height: 8px;
  font-style: italic;
  font-size: 7px;
  color: white;
}

.text-hdr-black {
  letter-spacing: 0.2;
  line-height: 8px;
  font-style: italic;
  font-size: 7px;
  color: black;
}

.id-title {
  font-family: 'Franklin Gothic';
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
  color: green;
  padding: 0;
  margin-top: -10px;
}

.label-id {
  font-size: 8px;
  font-weight: 800;
  font-style: italic;
}

.label-id-data {
  font-size: 8px;
  font-weight: 500;
  border: none;
  background: none;
  outline: none;
}

.logo {
  width: 60px;
  height: 40px;
}

.id-pic {
  padding: 0;
  width: 65px;
  height: 65px;
}

.id-pic-user {
  border-radius: 5px;
  width: 65px;
  height: 65px;
}

.sign-user {
  margin-top: 10px;
  width: 35px;
  height: 17px;
}

.id-card {
  background: url('./assets/brgyidgreen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 368px;
  width: 552px;
}

.id-card-yellow {
  background: url('./assets/brgyidyellow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 224.48px;
  width: 345.44px;
}

.id-card-white {
  background: url('./assets/brgyidwhite.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 224.48px;
  width: 345.44px;
}

.id-card-back {
  background: url('./assets/idgreenback.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 224.48px;
  width: 345.44px;
}

.id-card-back-yellow {
  background: url('./assets/idyellowback.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 224.48px;
  width: 345.44px;
}

.id-card-back-white {
  background: url('./assets/idwhiteback.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 224.48px;
  width: 345.44px;
}

.blgu-logo {
  width: 45px;
  height: 45px;
}

.table-photo {
  width: 150px;
  height: 70px;
}

.sigCanvas {
  width: 100%;
  height: 200px;
}